.index-container{
    color: red;
    background-color: black;
    font-size: 5px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-between;
    background-image: "back_image.jpg";
    
    }
    .navbar{
        
        color:white;
        font-size:20px;
        font-family: 'Times New Roman', Times, serif;
        display: flex;
        flex-direction:row;
     
    }
    .navbar ul li{
        list-style-type: none;
        display: inline-block;
        padding: 15px;
    }
    
    .navbar a{
        text-decoration: none;
    }
    
    a{
        color: aliceblue;
        padding: 0%;
        font-size: 30px;
        font-family:'Times New Roman', Times, serif;
    }
    .index-logo{
    color: aliceblue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
    }
    
    .index-body{
    width:100vw;
    height: 100vh;
    }
    .menus{
        list-style-type: none;
        display: flex;
    }
 
.main-content{

}

.heading{
    text-align: center;
    margin-top: 4%;
}
    
.line{
    height: 3px;
    width: 5rem;
    background: orange;
    display: block;
    margin: 0.5rem;

}

.profile{
    display: flex; 
    align-items: center;
    justify-content:center;
    padding-block: 2rem;
    width:100vw;
    height:auto;
   
}
.profile-image{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 35vh;
    margin-top: 1rem;
    
}
.profile-image>img{
    height: inherit;
    object-fit: contain;
    width: inherit;
}

.profile-text{
    border-left: 0.2rem solid orange;
    display: flex;
    width: 100%;
    height:100;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column-reverse;
    background-color: antiquewhite;
    padding-right: 18%;
}

.awards{
     display:grid;
    width: 100vw;
    height: 100%;
    grid-template-columns: repeat(3,0.99fr);
    place-items:center;
    padding-block:2rem;

}
.award1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.award2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.award3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills{
    background-color: black;
    color: aliceblue;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;

}
.line1{
    height: 3px;
    width: 5rem;
    background: orange;
    display: block;
    margin: 0.5rem;
}
#Html{
    height:25px;
    background:white;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}
#DoneHtml{
    height:100%;
    color:white;
    width: 0;
    text-align: center;
    background: orange;
    transition: 3s ease;
}

#Css{
    height:25px;
    background:white;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}
#DoneCss{
    height:100%;
    color:white;
    width: 0;
    text-align: center;
    background: orange;
    transition: 3s ease;
}

#Bootstrap{
    height:25px;
    background:white;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}
#DoneBootstrap{
    height:100%;
    color:white;
    width: 0;
    text-align: center;
    background: orange;
    transition: 3s ease;
}
#Saas{
    height:25px;
    background:white;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}
#DoneSaas{
    height:100%;
    color:white;
    width: 0;
    text-align: center;
    background: orange;
    transition: 3s ease;
}
#Javascript{
    height:25px;
    background:white;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}
#DoneJavascript{
    height:100%;
    color:white;
    width: 0;
    text-align: center;
    background: orange;
    transition: 3s ease;
}
#Reactjs{
    height:25px;
    background:white;
    border-radius: 6px;
    margin-bottom: 0.5rem;
}
#DoneReactjs{
    height:100%;
    color:white;
    width: 0;
    text-align: center;
    background: orange;
    transition: 3s ease;
}
.testimonials{

}
.line3{
    
    height: 3px;
    width: 5rem;
    background: orange;
    display: block;
    margin: 0.5rem;

}

.testimonials p{
    padding-left: 10%;
}
.testimonials-detail{
    display:grid;
    margin: 3.5rem;
    grid-template-columns: repeat(4,1fr);
    
}
.testimonials1 p{
    align-items: center;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
    
}
.testimonials2 p{
    align-items: center;
    border-width: 3px;
    border-color: black;
    border-style: dotted;
}
.testimonials3 p{
    align-items: center;
    border-width: 3px;
    border-color: black;
    border-style: dotted;

}
.testimonials4 p{
     align-items: center;
     border-width: 3px;
    border-color: black;
    border-style: dotted;

}
/* 
.test-image{
    height:20%;
    width:20%;
     border-radius: 50%;

} */

.social-media{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    background-color:orange;
    padding-top: 2%;
    padding-bottom: 2%;
    color: aliceblue;
}

.twitter{
    text-align: center;
    padding-left: 75%;
}
.counter{
    font-size:50px;
}
.youtube{
    text-align: center;
}
/* .youtube h1{
    font-size:50px;
} */
.facebook{
    text-align: center;
    padding-right: 75%;
 }
/* .facebook h1{
    font-size:50px;
}  */
/* footer starts */
.footer{
    
    display:grid;
    grid-template-columns: repeat(3,1fr);
    color:white; 
    background-color: black;
    font-size: 15px;
}    

.company-address{
    
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 60%; */
    align-items: center;
    font-size: 15px;
    margin-left: 10%;



}
.company-address p{
    margin-left: 10%;
    

}

.line3{
    height: 2px;
    width: 4rem;
    background-color:darkorange;
    display: block;
    margin: 0.5rem;

}

.natigate{
    align-items: center;
    font-size: 15px;
    margin-left: 30%;

}
.natigate h4{
    font-size: 15px;
}
.natigate ul{
    list-style-type: none;
    
}
.natigate a{
    text-decoration: none;
}
.follow-me{
    margin-left: 40%;
    
}
.follow-me i{
    padding: 2%;
    padding-top:7%;
}
/* .follow-me ul{
        list-style-type: none;
        display: inline-block;
        padding: 15px;    
    }
.line3 h3{
    padding-left: 10%;
    
} */
.line3 ul{
    padding-top:3rem;
}
.copyright{
    color:white; 
    background-color: black;
    margin-down: 10%;
    padding-left: 10%;
}
/* footer ended */
