.footer{
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    background-color: black;
    text-align: right;
    
}
.footer ul{
    list-style-type: none;
    padding: 20px;
}
